* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 206, 206);
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1400px;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(44, 44, 44);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

main {
  min-height: calc(100vh - 180px);
  .blog-title {
    text-align: center;
    margin-top: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

.blog-post {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 40px;
}

footer {
  background-color: rgb(39, 39, 39);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
